In [1]:
%pylab inline
#10 Minutes to pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)[source]
#二维行列表格数据
'''
data :  numpy ndarray, dict , dataframe
index : 默认使用np.arange(n) ，如果没指定
columns: 列名称，默认使用np.arange(n) ，如果没指定

'''

/Users/seki/Library/Python/2.7/lib/python/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

Populating the interactive namespace from numpy and matplotlib

In [2]:
#from dict根据字典创造：
#字典中的keys就是DataFrame里面的columns，但是没有index的值，
aa={'one':[1,2,3],'two':[2,3,4],'three':[3,4,5]}
bb=pd.DataFrame(aa)
bb

,one,three,two
0,1,3,2
1,2,4,3
2,3,5,4

In [4]:
#from ndarray从多维数组中创建
#从多维数组中创建就需要为DataFrame赋值columns和index，否则就是默认的。
aa1=np.array([[1,2,3],[4,5,6],[7,8,9]])
bb1=pd.DataFrame(aa1)
print bb1

bb2=pd.DataFrame(aa1,index=[22,33,44],columns=['one','two','three'])
print bb2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
    one  two  three
22    1    2      3
33    4    5      6
44    7    8      9

In [5]:
#from datafram 
bb2[:2]

,one,two,three
22,1,2,3
33,4,5,6

In [8]:
# test read data
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

,A,B,C,D
2013-01-01,0.399345,-0.863988,1.534300,-0.517565
2013-01-02,0.413301,0.076800,1.321707,-1.051912
2013-01-03,0.922727,0.040859,-0.022008,0.166394
2013-01-04,-0.143941,0.560706,-0.656883,0.655615
2013-01-05,0.080228,-0.122759,0.269119,-0.044904
2013-01-06,-0.243222,-0.110261,1.062626,0.632637

In [19]:
#转置
tdf = df.T
print tdf
print tdf['A':'B']

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.399345    0.413301    0.922727   -0.143941    0.080228   -0.243222
B   -0.863988    0.076800    0.040859    0.560706   -0.122759   -0.110261
C    1.534300    1.321707   -0.022008   -0.656883    0.269119    1.062626
D   -0.517565   -1.051912    0.166394    0.655615   -0.044904    0.632637
   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.399345    0.413301    0.922727   -0.143941    0.080228   -0.243222
B   -0.863988    0.076800    0.040859    0.560706   -0.122759   -0.110261

In [16]:
#读取一列
df.A

2013-01-01    0.399345
2013-01-02    0.413301
2013-01-03    0.922727
2013-01-04   -0.143941
2013-01-05    0.080228
2013-01-06   -0.243222
Freq: D, Name: A, dtype: float64

In [17]:
#0到3行
df[0:3]

,A,B,C,D
2013-01-01,0.399345,-0.863988,1.534300,-0.517565
2013-01-02,0.413301,0.076800,1.321707,-1.051912
2013-01-03,0.922727,0.040859,-0.022008,0.166394

In [18]:
#更具索引删选
df['20130102':'20130103']

,A,B,C,D
2013-01-02,0.413301,0.076800,1.321707,-1.051912
2013-01-03,0.922727,0.040859,-0.022008,0.166394

In [20]:
#通过索引，读取一行
df.loc[dates[0]]

A    0.399345
B   -0.863988
C    1.534300
D   -0.517565
Name: 2013-01-01 00:00:00, dtype: float64

In [23]:
#通过索引，读取行，指定列
df.loc[dates[1]:dates[3],['A']]

,A
2013-01-02,0.413301
2013-01-03,0.922727
2013-01-04,-0.143941

In [25]:
#通过位置读取行
df.iloc[3:5,1:3]

,B,C
2013-01-04,0.560706,-0.656883
2013-01-05,-0.122759,0.269119

In [27]:
#新加一列
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df['F'] = s1
df

,A,B,C,D,F
2013-01-01,0.399345,-0.863988,1.534300,-0.517565,NaN
2013-01-02,0.413301,0.076800,1.321707,-1.051912,1.0
2013-01-03,0.922727,0.040859,-0.022008,0.166394,2.0
2013-01-04,-0.143941,0.560706,-0.656883,0.655615,3.0
2013-01-05,0.080228,-0.122759,0.269119,-0.044904,4.0
2013-01-06,-0.243222,-0.110261,1.062626,0.632637,5.0

In [28]:
#删除任意有丢失数据的行
df.dropna(how='any')

,A,B,C,D,F
2013-01-02,0.413301,0.076800,1.321707,-1.051912,1.0
2013-01-03,0.922727,0.040859,-0.022008,0.166394,2.0
2013-01-04,-0.143941,0.560706,-0.656883,0.655615,3.0
2013-01-05,0.080228,-0.122759,0.269119,-0.044904,4.0
2013-01-06,-0.243222,-0.110261,1.062626,0.632637,5.0

In [29]:
#填充na数据
df.fillna(value=1)

,A,B,C,D,F
2013-01-01,0.399345,-0.863988,1.534300,-0.517565,1.0
2013-01-02,0.413301,0.076800,1.321707,-1.051912,1.0
2013-01-03,0.922727,0.040859,-0.022008,0.166394,2.0
2013-01-04,-0.143941,0.560706,-0.656883,0.655615,3.0
2013-01-05,0.080228,-0.122759,0.269119,-0.044904,4.0
2013-01-06,-0.243222,-0.110261,1.062626,0.632637,5.0

In [30]:
#统计
#按列统计均值
print df.mean()

A    0.238073
B   -0.069774
C    0.584810
D   -0.026622
F    3.000000
dtype: float64

In [31]:
#按行统计均值
print df.mean(1)

2013-01-01    0.138023
2013-01-02    0.351979
2013-01-03    0.621595
2013-01-04    0.683099
2013-01-05    0.836337
2013-01-06    1.268356
Freq: D, dtype: float64

In [32]:
df.shift(2)

,A,B,C,D,F
2013-01-01,NaN,NaN,NaN,NaN,NaN
2013-01-02,NaN,NaN,NaN,NaN,NaN
2013-01-03,0.399345,-0.863988,1.534300,-0.517565,NaN
2013-01-04,0.413301,0.076800,1.321707,-1.051912,1.0
2013-01-05,0.922727,0.040859,-0.022008,0.166394,2.0
2013-01-06,-0.143941,0.560706,-0.656883,0.655615,3.0

In [34]:
#给数据执行函数,累加
print df
df.apply(np.cumsum)

                   A         B         C         D    F
2013-01-01  0.399345 -0.863988  1.534300 -0.517565  NaN
2013-01-02  0.413301  0.076800  1.321707 -1.051912  1.0
2013-01-03  0.922727  0.040859 -0.022008  0.166394  2.0
2013-01-04 -0.143941  0.560706 -0.656883  0.655615  3.0
2013-01-05  0.080228 -0.122759  0.269119 -0.044904  4.0
2013-01-06 -0.243222 -0.110261  1.062626  0.632637  5.0

,A,B,C,D,F
2013-01-01,0.399345,-0.863988,1.534300,-0.517565,NaN
2013-01-02,0.812646,-0.787188,2.856007,-1.569477,1.0
2013-01-03,1.735374,-0.746329,2.834000,-1.403083,3.0
2013-01-04,1.591433,-0.185622,2.177116,-0.747467,6.0
2013-01-05,1.671661,-0.308382,2.446235,-0.792372,10.0
2013-01-06,1.428438,-0.418643,3.508861,-0.159734,15.0

In [36]:
#dataframe 合并
df = pd.DataFrame(np.random.randn(10, 4))
print df
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0 -0.513242 -1.053958  0.478825  0.886931
1  0.895276 -0.521648 -1.858917 -0.434600
2  0.052058  2.555086  0.004411  0.458378
3 -0.048133  0.471912 -0.073876  0.551321
4 -1.170384  1.638323 -1.455649 -0.982374
5 -1.744027 -0.486163  1.075459 -0.522182
6  0.878701  0.259413 -1.523797 -0.267868
7  1.079602 -0.224575 -0.803286  0.632887
8  0.347425 -1.448670 -0.943472 -0.858967
9 -0.944223  0.613943 -0.677181  0.004816

,0,1,2,3
0,-0.513242,-1.053958,0.478825,0.886931
1,0.895276,-0.521648,-1.858917,-0.434600
2,0.052058,2.555086,0.004411,0.458378
3,-0.048133,0.471912,-0.073876,0.551321
4,-1.170384,1.638323,-1.455649,-0.982374
5,-1.744027,-0.486163,1.075459,-0.522182
6,0.878701,0.259413,-1.523797,-0.267868
7,1.079602,-0.224575,-0.803286,0.632887
8,0.347425,-1.448670,-0.943472,-0.858967
9,-0.944223,0.613943,-0.677181,0.004816

In [42]:
#Pivot Tables
df2 = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
               'B' : ['A', 'B', 'C'] * 4,
               'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
               'D' : np.random.randn(12),
               'E' : np.random.randn(12)})
df2

,A,B,C,D,E
0,one,A,foo,-0.361911,1.753281
1,one,B,foo,-0.020763,-0.957385
2,two,C,foo,-1.207377,0.221807
3,three,A,bar,-1.775779,1.001806
4,one,B,bar,0.645435,0.813844
5,one,C,bar,0.115478,-0.346400
6,two,A,foo,-0.482211,-0.349257
7,three,B,foo,-0.669100,-0.429182
8,one,C,foo,1.373452,0.893844
9,one,A,bar,0.697808,0.875550
10,two,B,bar,1.395545,0.269611
11,three,C,bar,0.064362,1.195128

In [48]:
'''
data: dataframe
values: 分组操作的列，函数应用的列，汇总，均值等
index: 汇总的值域作为索引，可以多级
columns : 汇总的值域作为列名，可以多级
'''
pd.pivot_table(df2, values='D', index=['A'], columns=['C','B'])

In [49]:
pd.pivot_table(df2, values='D', index=['A','B'], columns=['C'])

In [53]:
pd.pivot_table(df2, values='D', index=['A','B','C'])

A      B  C
one    A  bar    0.697808
          foo   -0.361911
       B  bar    0.645435
          foo   -0.020763
       C  bar    0.115478
          foo    1.373452
three  A  bar   -1.775779
       B  foo   -0.669100
       C  bar    0.064362
two    A  foo   -0.482211
       B  bar    1.395545
       C  foo   -1.207377
Name: D, dtype: float64

In [54]:
pd.pivot_table(df2, values='D', columns=['A'])

A
one      0.408250
three   -0.793506
two     -0.098014
Name: D, dtype: float64

In [55]:
pd.pivot_table(df2, values='D',index=['B'], columns=['A'])

A,one,three,two
B,,,
A,0.167949,-1.775779,-0.482211
B,0.312336,-0.669100,1.395545
C,0.744465,0.064362,-1.207377