In [3]:
%pylab inline

/Users/seki/Library/Python/2.7/lib/python/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

Populating the interactive namespace from numpy and matplotlib

In [4]:
import pandas as pd
from pandas import Series,DataFrame

In [5]:
#series 自带索引
obj = Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
#指定标记的索引
obj2 = Series([4,7,-5,3],index=['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [8]:
#dataframe
data = {'state':['ohio','nve','ohio','vb'],'year':[2000,2001,2002,2003],'pop':[1.5,1.7,3.1,2.3]}
frame = DataFrame(data,columns=['year','state','pop'])
frame

   year state  pop
0  2000  ohio  1.5
1  2001   nve  1.7
2  2002  ohio  3.1
3  2003    vb  2.3

In [9]:
frame.ix[1]

year     2001
state     nve
pop       1.7
Name: 1, dtype: object

In [10]:
frame.T

          0     1     2     3
year   2000  2001  2002  2003
state  ohio   nve  ohio    vb
pop     1.5   1.7   3.1   2.3

In [11]:
frame[1:3]

   year state  pop
1  2001   nve  1.7
2  2002  ohio  3.1

In [12]:
frame[frame['pop']<2]

   year state  pop
0  2000  ohio  1.5
1  2001   nve  1.7

In [13]:
frame.ix[[1,2,3],:2]

   year state
1  2001   nve
2  2002  ohio
3  2003    vb

In [14]:
frame.sum()

year              8006
state    ohionveohiovb
pop                8.6
dtype: object

In [15]:
frame.sum(axis=1)

0    2001.5
1    2002.7
2    2005.1
3    2005.3
dtype: float64

In [16]:
frame.cumsum()

   year          state  pop
0  2000           ohio  1.5
1  4001        ohionve  3.2
2  6003    ohionveohio  6.3
3  8006  ohionveohiovb  8.6

In [17]:
frame.stack()

0  year     2000
   state    ohio
   pop       1.5
1  year     2001
   state     nve
   pop       1.7
2  year     2002
   state    ohio
   pop       3.1
3  year     2003
   state      vb
   pop       2.3
dtype: object

In [18]:
frame.describe()

              year       pop
count     4.000000  4.000000
mean   2001.500000  2.150000
std       1.290994  0.718795
min    2000.000000  1.500000
25%    2000.750000  1.650000
50%    2001.500000  2.000000
75%    2002.250000  2.500000
max    2003.000000  3.100000

In [21]:
frame.unstack('pop')

year   0    2000
       1    2001
       2    2002
       3    2003
state  0    ohio
       1     nve
       2    ohio
       3      vb
pop    0     1.5
       1     1.7
       2     3.1
       3     2.3
dtype: object

In [22]:
#离散化元面划分
ages = [20,22,25,27,21,23,37,31,61,45,41,32]
bins =[18,25,35,60,100]
cats = pd.cut(ages,bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, object): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [25]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [29]:
cats.categories

Index([u'(18, 25]', u'(25, 35]', u'(35, 60]', u'(60, 100]'], dtype='object')

In [32]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64