In [1]:
%pylab
from pandas import DataFrame,Series
import pandas as pd

/Users/seki/Library/Python/2.7/lib/python/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

Using matplotlib backend: MacOSX
Populating the interactive namespace from numpy and matplotlib

In [2]:
df = DataFrame({'k1':['a','a','b','b','a'],'k2':['one','two','one','two','one'],'d1':np.random.randn(5),'d2':np.random.randn(5)})
df

,d1,d2,k1,k2
0,-1.047063,-1.674115,a,one
1,-0.584630,-0.461012,a,two
2,-0.539800,2.886309,b,one
3,-0.300802,-0.940316,b,two
4,1.493127,-0.921326,a,one

In [3]:
grouped = df['d1'].groupby(df['k1'])
grouped.mean()

k1
a   -0.046188
b   -0.420301
Name: d1, dtype: float64

In [4]:
df['d1'].groupby([df['k1'],df['k2']]).mean()

k1  k2
a   one    0.223032
    two   -0.584630
b   one   -0.539800
    two   -0.300802
Name: d1, dtype: float64

In [5]:
for name,group in df.groupby('k1'):
    print name
    print group
df.dtypes

a
         d1        d2 k1   k2
0 -1.047063 -1.674115  a  one
1 -0.584630 -0.461012  a  two
4  1.493127 -0.921326  a  one
b
         d1        d2 k1   k2
2 -0.539800  2.886309  b  one
3 -0.300802 -0.940316  b  two

d1    float64
d2    float64
k1     object
k2     object
dtype: object

In [6]:
grouped = df.groupby(df.dtypes,axis=1)
dict(list(grouped))

{dtype('float64'):          d1        d2
 0 -1.047063 -1.674115
 1 -0.584630 -0.461012
 2 -0.539800  2.886309
 3 -0.300802 -0.940316
 4  1.493127 -0.921326, dtype('O'):   k1   k2
 0  a  one
 1  a  two
 2  b  one
 3  b  two
 4  a  one}

In [7]:
frame = DataFrame({'d1':np.random.randn(1000),'d2':np.random.randn(1000)})
factor = pd.cut(frame.d1,4)
factor[:3]

0     (-0.146, 1.262]
1    (-1.555, -0.146]
2    (-1.555, -0.146]
Name: d1, dtype: category
Categories (4, object): [(-2.97, -1.555] < (-1.555, -0.146] < (-0.146, 1.262] < (1.262, 2.671]]