In [7]:
%pylab inline
from datetime import datetime,timedelta
now = datetime.now()
now

Populating the interactive namespace from numpy and matplotlib

datetime.datetime(2016, 12, 29, 17, 16, 36, 360187)

In [8]:
start = datetime(2015,1,7)
start = start + timedelta(12)
start

datetime.datetime(2015, 1, 19, 0, 0)

In [9]:
str(start)

'2015-01-19 00:00:00'

In [10]:
start.strftime('%Y-%m-%d')

'2015-01-19'

In [11]:
from dateutil.parser import parse
parse('2011-01-02')

datetime.datetime(2011, 1, 2, 0, 0)

In [14]:
import pandas as pd
from pandas import Series
longer_ts = Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))
longer_ts[:3]

2000-01-01   -0.838708
2000-01-02   -0.836834
2000-01-03    0.582838
Freq: D, dtype: float64

In [16]:
pd.date_range('1/1/2005','1/2/2005 23:59',freq = '4h')

DatetimeIndex(['2005-01-01 00:00:00', '2005-01-01 04:00:00',
               '2005-01-01 08:00:00', '2005-01-01 12:00:00',
               '2005-01-01 16:00:00', '2005-01-01 20:00:00',
               '2005-01-02 00:00:00', '2005-01-02 04:00:00',
               '2005-01-02 08:00:00', '2005-01-02 12:00:00',
               '2005-01-02 16:00:00', '2005-01-02 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [17]:
ts = Series(arange(10),index = pd.date_range('1/1/2005','1/10/2005 23:59'))
ts

2005-01-01    0
2005-01-02    1
2005-01-03    2
2005-01-04    3
2005-01-05    4
2005-01-06    5
2005-01-07    6
2005-01-08    7
2005-01-09    8
2005-01-10    9
Freq: D, dtype: int64

In [22]:
ts.shift(1)

2005-01-01    NaN
2005-01-02    0.0
2005-01-03    1.0
2005-01-04    2.0
2005-01-05    3.0
2005-01-06    4.0
2005-01-07    5.0
2005-01-08    6.0
2005-01-09    7.0
2005-01-10    8.0
Freq: D, dtype: float64

In [26]:
ts/ts.shift(1) -1

2005-01-01         NaN
2005-01-02         inf
2005-01-03    1.000000
2005-01-04    0.500000
2005-01-05    0.333333
2005-01-06    0.250000
2005-01-07    0.200000
2005-01-08    0.166667
2005-01-09    0.142857
2005-01-10    0.125000
Freq: D, dtype: float64

In [31]:
ts.resample('2D').sum()

2005-01-01     1
2005-01-03     5
2005-01-05     9
2005-01-07    13
2005-01-09    17
Freq: 2D, dtype: int64

In [32]:
ts.resample('2D').ohlc()

,open,high,low,close
2005-01-01,0,1,0,1
2005-01-03,2,3,2,3
2005-01-05,4,5,4,5
2005-01-07,6,7,6,7
2005-01-09,8,9,8,9